<div class="container-fluid">
      <div class="col-sm-9 rounded border border-secondary mt-1 ">
          <h3 class="mb-0"><a class="text-dark" href="#">Hyderabadi Mutton Biryani</a></h3>
          <div class="mb-1 text-muted">Dish type: Dinner</div>
          <p class="text-justify">Hyderabadi biryani is a non-veg dish and ia one of variety of biryani from Hyderabad, India. It is prepared from rice using the dum method of cooking</p>
		  <img src="assets/images/Hyderabadi-Mutton-Biryani-Recipe-600x315.jpg" class="img-fluid rounded" alt="Responsive image">

		  <p class="mx-auto mt-3" style="width: 200px;">
		  <button type="button " class="btn btn-primary">Buy it</button> or 
		  <button type="button " class="btn btn-success">Make it</button>
		  </p>
      </div>
  </div>